.coin {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(
    90deg,
    rgb(255 255 255) 0%,
    rgb(222 222 222) 100%
  );
}
.coin-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.coin-title {
  font-size: 42px;
  color: #343434;
  font-weight: 600;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
.coin-subtitle {
  font-weight: 600;
  color: #999;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}
.coin-devider {
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #24a3d8;
  width: 68px;
  height: 3px;
}
.coin-block {
  display: flex;
  gap: 60px 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.coin-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
.coin-icon > svg {
  width: 40px;
  height: 40px;
  fill: #1e7df4;
}
.coin-item-title {
  color: #343434;
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.coin-descr {
  color: #505050;
  font-size: 16px;
  line-height: 24px;
}
