.cta {
    background: url('../assets/img/bg.png') 0 0 / cover no-repeat;
}

.container {
}

.cta__wrapper {
    position: relative;
    z-index: 1;
    text-align: center;
}

.cta__wrapper h2 {
}

.cta__wrapper p {
}
.cta__wrapper .button {
    margin-top: 15px;
}