.form {
  width: 100%;
  background-color: #f6f6f6;
  padding: 50px 0;
  position: relative;
  z-index: 0;
}
.form-board {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  gap: 15px;
  margin: 0 auto;
  justify-content: center;
  border: 1px solid #24a3d8;
  box-shadow: 1px 1px 10px #1faae6;
  padding: 30px;
  flex-wrap: wrap;
  position: relative;
}
.form-board::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 40px;
  background-color: #24a3d8;
  top: -20px;
  z-index: -1;
  transform: skew(20deg);
}
.form-board::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 40px;
  background-color: #24a3d8;
  bottom: -20px;
  z-index: -1;
  transform: skew(-20deg);
}
.form-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-wrap label {
  color: #000;
  padding-bottom: 10px;
  display: block;
}
.form-wrap__textarea {
  width: 100%;
  margin-top: 10px;
}
.form-input {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #a7a7a7;
  background-color: #fff;
  color: #000;
  display: flex;
}

.form-text {
  width: 100%;
  min-height: 200px;
  resize: none;
}
.form-btn {
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  background-color: #1e7df4;
  margin-top: 40px;
  transition: 0.1s all;
  border: 1px solid #fff;
}
.form-btn:hover {
  background-color: #fff;
  color: #1e7df4;
  border: 1px solid #1e7df4;
}
