.cta {
    background: url('../img/bg.png') 0 0 / contain no-repeat;
}

.cta__wrapper {
    position: relative;
    z-index: 1;
    text-align: center;
}

.cta__wrapper .button {
    margin-top: 15px;
}