.body-form {
    /*box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);*/
    border-radius: 5px;
    background: #ffffff;
    --bs-gutter-x: 32px;
    --bs-gutter-y: 20px;
    padding: 30px 20px;
    margin-left: 0;
    margin-right: 0;
}

.body-form__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.body-form__group {
    margin-top: 24px;
}

.body-form__group label {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #393e46;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.body-form__group input {
    font-weight: 400;
    color: rgba(26, 36, 63, 0.5);
    background: transparent;
    height: 35px;
    padding: 5px 0 10px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(26, 36, 63, 0.2);
    font-size: 18px;
    min-height: auto;
    transition: .3s ;
}

.body-form__group textarea:focus {
    border-color: var(--accentColor);
}

.body-form__group input:focus {
    border-color: var(--accentColor);
}

.body-form__group textarea {
    font-weight: 400;
    color: rgba(26, 36, 63, 0.5);
    background: transparent;
    padding: 5px 0 10px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(26, 36, 63, 0.2);
    font-size: 18px;
    min-height: auto;
    resize: vertical;
    width: 100%;
}

@media(max-width: 767.98px) {
    .body-form__group {
        width: 100%;
    }
}