.scrollDown {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.scrollDown svg #wheel {
    animation: scroll ease 1.5s infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(100px);
    }
}